main {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 24px;
  padding-block: 24px;
}

main img {
  /* width: 286px;
  height: 286px; */
  width: 100%;
  object-fit: cover; /* Quando não há um quadrado perfeito, cover irá preencher o espaço */
}

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  main {
    grid-template-columns: 1fr;
  }
}
